 body{
     font-family: sans-serif;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     max-width:100ch;
     padding: 20px;
 }
 .nav{
     margin-top: 50px;
     text-align: end;
 }
  
 .nav a{
     text-transform: uppercase;
     padding:33px;
     /* margin-top: 100ch;  */
      
 }
 .main
 {
     
     line-height:1.5rem;
 }
 .footer{
     margin-top: auto;
     background-color:teal;
 }